<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="mailto:agk34@cam.ac.uk"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i><meta itemprop="email" content="s.chowdhury8@herts.ac.uk">Email</a>
<a href="https://www.linkedin.com/in/stiphenc" itemprop="sameAs"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a>
<a href="https://github.com/stiphenc" itemprop="sameAs"><i class="fa fa-fw fa-github" aria-hidden="true"></i>Github</a>
<a href="https://twitter.com/stiphenc" itemprop="sameAs"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i>Twitter</a>

</div>